.message
{
	

margin-top:75px;
font-size:25px;	
background-color:rgb(0,0,0,0.6);
padding:3px;
border:5px solid red;
border-radius:15px 15px 15px 15px;
width:50%;

	
}

.tit
{
	
	color:white;
	
}

.com
{
	margin-left:10px;
	color:yellow;
	
}

.com1
{
	margin-left:40px;
	color:yellow;
	
}





.btnn1
{
	background-color:red;
   color:white;
margin-left:20px;
height:50px;

}


.read
{
	
  background-color:blue;
   color:white;
   margin-left:62%;
   height:40px;
   width:200px;
   border:5px solid white;
	
	
}

