*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	
	
}





ul.menu
{
	list-style-type:none;
	padding:0;
	margin:0;
	background-color:#1B3C5E  ;
	overflow:hidden;
}
li.menu
{
	float:left;
	
}
li a
	{
		display:block;
		color:white;
		text-align:center;
		padding:14px 16px ;
		text-decoration:none;
		
		
		
	}
	
	li a:hover
	{background-color:red;}
	
	.heder
	{
		
		display:block;
		color:#e84200;
		text-align:center;
		padding: 50px 12px ;
		text-decoration:none;
	    font-family: Times New Roman, Times, serif;

	}
	
	.login
	{
		padding: 15px 20px ;
	}
	.box
	{
		position:auto;
		margin-top:20px;
		margin-left:85%;
		width:500px;
		transform:translate(-50%,-50%);
		
	}
	
	input
	{
		position:auto;
		display:inline-block;
		font-size:20px;
		box-sizing :border-box;
		border-radius:25px 25px 25px 25px;
		
		
	}
	.searchbar
	
	{
		margin-top:10px;
		float:right;
		margin-right:10px;
		height:20px;
		color:#FF0000;
	}
		
	.btn
	{
		
      background:red;
	  height:25px;
	  color:white;
	}
	
	
body{
	background-image:url("../images/library.jpg");
}	
.logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}.btn1{
	border:separate;
	padding:2rem;
	color:blue;
	margin:1rem;
	width:auto;
	background-color:pink;
	
}
.btn2{
	border:separate;
	padding:9rem;
	color:blue;
	margin:10rem;
	width:auto;
	background-color:silver;
}
	.para2{
		font-size:25px;
		font-style:sans-serif; 
		
}

  @charset "utf-8";
 
footer{
	position:attr;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
 
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	margin-left:32px;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	
}
 
 .media
	{
		
		width:7%;
				
	}
	
	
	
.pay
{
	width :35%;
	margin-left:8%;
}
 a:hover
 
 {
	background-color:red; 
 }
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}
 
